/* You can add global styles to this file, and also import other style files */
/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}