/* Landing Page Specific Styles */
:host {
    display: block;
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(3deg);
    }

    50% {
        transform: translateY(-20px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(3deg);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}